/* Styling av avbryt knappen, slik at den ser finere ut */
#avbrytKnapp {
    background-color: #808080;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 10%;
    height: 70%;
    margin-top: 3px;
}
