.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/backgroundhomepage.jpg'); /* Adjust the path based on your folder structure */
    background-size: cover; /* Ensures the image covers the entire container */
    opacity: 0.15; /* Adjust the opacity value (from 0 to 1) */
    z-index: -1; /* Place the overlay behind other content */
}

