h1 {
    color: #9cb7c2;
    text-align: center;
    margin-top: 35px;
}


.table {
position: center;
margin-left: 15px;
width: 100%;
max-width: 100%;
overflow-x: auto;
font-size: 14px;
color: white;

}

