/* Stil for hovedoverskrift */
h1 {
    position: center;
    margin-left: 330px;
    color: #9cb7c2;
    margin-top: 10px;
}

/* Basisstil for tabeller */
.table {
    margin-top: 60px;
    left: 0;
    width: 100%;
    border-collapse: collapse;
    border-bottom: 2px solid white;
    overflow-y: auto;
}

    /* Stil for rader og celler i tabellen */
    .table tr {
        border-bottom: 2px solid black;
        background-color: #9cb7c2;
        color: black;
    }

    .table td {
        border-right: 1px solid black;
        background-color: white;
    }

    .table th {
        border-right: 1px solid black;
        text-align: justify-all;
    }

    /* Tilpasset klasse for tekstfarge */
    .table .green-background {
        color: green !important;
    }
