/* Styling for navbar links */
.navbar-nav .nav-item .nav-link {
    color: #9cb7c2 !important;
    margin-right: 20px;
    margin-top: 10px;
    transition: color 0.3s ease;
}

/* Navbar links hover */
.navbar-nav .nav-item:hover .nav-link {
    color: #ffffff !important;
}

/* Styling for navbar toggler ikon */
.navbar-toggler-icon {
    background-color: #9cb7c2 !important;
}

/* Styling for custom button */
.custom-button {
    color: transparent;
    background: url('/images/Nostedlogo.png') no-repeat center center;
    background-size: cover;
    width: 220px;
    height: 44px;
    display: inline-block;
    text-indent: -9999px;
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 10px;
}


.navbar-nav .nav-item .dropdown-toggle::after {
    display: none;
}

/* Styling for dropdown menu container */
.navbar-nav .nav-item .dropdown-menu {
    border-top: solid 3px;
    border-top-color: #e7792c;
    border-radius: 5% 5% 0 5%;
    background-color: #101820;
    display: none;
}

    /* Styling for spesifike dropdown menu items */
    .navbar-nav .nav-item .dropdown-menu .nav-link {
        width: 85%;
        color: #9cb7c2 !important;
        font-size: 15px;
        border-bottom: 1px solid #9cb7c2; 
        padding: 8px 0; 
        margin: auto;
    }

        
        .navbar-nav .nav-item .dropdown-menu .nav-link:last-child {
            border-bottom: solid 1px;
        }

    
        .navbar-nav .nav-item .dropdown-menu .nav-link:hover {
            color: #ffffff !important;
        }

/* Vis dropdown menu on hover */
.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
}
