/* Styles for the navbar links */
.navbar-nav .nav-item .nav-link {
    color: #9cb7c2 !important;
    margin-right: 20px;
    margin-top: 10px;
    transition: color 0.3s ease;
}

/* Navbar links hover */
.navbar-nav .nav-item:hover .nav-link {
    color: #ffffff !important;
}

/* Styles for the navbar toggler icon */
.navbar-toggler-icon {
    background-color: #9cb7c2 !important;
}

/* Styles for the custom button */
.custom-button {
    color: transparent;
    background: url('/images/Nostedlogo.png') no-repeat center center;
    background-size: cover;
    width: 220px;
    height: 44px;
    display: inline-block;
    text-indent: -9999px;
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 10px;
}


/* Hide the arrow beside the dropdown menu */
.navbar-nav .nav-item .dropdown-toggle::after {
    display: none;
}

/* Styles for the dropdown menu container */
.navbar-nav .nav-item .dropdown-menu {
    border-top: solid 3px;
    border-top-color: #e7792c;
    border-radius: 5% 5% 0 5%;
    background-color: #101820;
    display: none;
}

    /* Styles for specific dropdown menu items */
    .navbar-nav .nav-item .dropdown-menu .nav-link {
        width: 85%;
        color: #9cb7c2 !important;
        font-size: 15px;
        border-bottom: 1px solid #9cb7c2; /* Add divider between dropdown items */
        padding: 8px 0; /* Add padding for better spacing */
        margin: auto;
    }

        /* Remove border-bottom from the last dropdown item */
        .navbar-nav .nav-item .dropdown-menu .nav-link:last-child {
            border-bottom: solid 1px;
        }

        /* Hover styles for the dropdown menu items */
        .navbar-nav .nav-item .dropdown-menu .nav-link:hover {
            color: #ffffff !important;
        }

/* Show dropdown menu on hover */
.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
}
