body {
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: scroll;
}

.container {
    margin-top: 15px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px; /* Set a max-width for larger screens */
    margin: 30px auto; /* Center the container */
}

h1 {
    color: #e7792c;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px; /* Add space below the header */
}

.form-label {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px; /* Space between label and input */
}

.form-control, .form-select {
    width: 100%; /* Full width of parent */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-outline-secondary {
    color: #333;
    border-color: #e7792c;
    background-color: transparent;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #e7792c;
    border-color: #e7792c;
}

.btn-primary {
    background-color: #e7792c;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
}

.btn-primary:hover {
    background-color: #f0873e;
}

/* Additional styles */
.form-floating {
    position: relative;
}

.form-floating label {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.2s;
    pointer-events: none;
}

.form-control:focus + label,
.form-control:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 14px;
    color: #e7792c;
}
