body {
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: scroll;
}

.container {
    margin-top: 15px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%
   
}

h1 {
    color: #e7792c;
    text-align: center;
    margin-top: 20px;
}

.form-label {
    color: #333;
    font-weight: bold;
}

.form-control {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-primary {
    background-color: #e7792c;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
}

    .btn-primary:hover {
        background-color: #f0873e;
    }
