body {
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: scroll;
}
.container {
    width: 100%;
    height: calc(100% - 40px); /* Adjust height */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow-y: auto; /* Enable vertical scroll */
}

h1 {
    color: #e7792c;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 16px;
}

textarea {
    height: 80px;
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

    button:hover {
        background-color: #218838;
    }

@media (max-width: 768px) {
    .container {
        width: 90%;
        height: calc(100% - 20px); /* Adjust for smaller screens */
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    textarea {
        font-size: 14px;
    }

    button {
        font-size: 16px;
    }
}
