html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

.display-1 {
    color: #9cb7c2;
    text-align: left;
    margin-top: 100px;
    margin-left: 140px;
    font-size: 80px;
}

.display-2 {
    color: #FFFFFF;
    text-align: left;
    margin-top: -25px;
    margin-left: 140px;
    font-size: 80px;
}

.period {
    color: #e7792c;
    text-align: left;
    font-size: 90px;
    margin-top: -115px;
    margin-left: 440px;
}

.display-3 {
    color: #c2c2c2;
    font-size: 25px;
    text-align: left;
    margin-left: 140px;
    margin-top: 25px;
}

.display-4 {
    text-align: right;
    color: #e7792c;
    font-size: 45px;
    opacity: 0.7;
    
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.bg-custom-color {
    background-color: #101820;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #101820;
    overflow: hidden;
}
