.custom-header {
    position: center;
    margin-left: 440px;
    color: #ffffff;
    margin-top: 10px;
}

.table {
    margin-top: 60px;
    font-size: 16px;
    font: bold;
    width: 100%;
    border-collapse: collapse;
    border-bottom: 2px solid white;
}

    .table tr {
        border-bottom: 2px solid black;
        background-color: #ffffff;
        color: #000000;
    }

    .table td {
        border-right: 1px solid black;
    }

    .table th {
        border-right: 1px solid black;
        text-align: justify-all;
    }


.orange-background {
    color: orange;
}


table tr:nth-child(even) {
    background-color: #9d9d9d;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}

.description-cell {
    font-size: 14px;
    background-color: #0026ff;
}

    .description-cell:hover .overlay-button {
        display: block;
        color: #0026ff;
    }

.fullfor-td {
    font-size: 10px;
    background-color: #0026ff;
}

    .fullfor-td:hover .fullfor-button {
        display: block;
        color: #0026ff;
    }


    .fullfor-td:hover .fullfor-button-two {
        display: block;
        color: #0026ff;
    }

.overlay-content {
    display: none;
}


