@model List<FullførtOrdre>
<link rel="stylesheet" href="~/css/ListFullførteOrdrer.css" />
<link rel="stylesheet" href="~/css/NoUnderline.css" />

<h1> Oversikt over fullførte ordrer</h1>

<table class="table">
    <thead>
        <tr>
            <th>Service Skjema ID</th>
            <th>Kunde Nr</th>
            <th>Mottatt Dato</th>
            <th>Ordre Nr</th>
            <th>Servicetype</th>
            <th>Serienummer</th>
            <th>Arbeidstimer</th>
            <th>Ferdigstilt Dato</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fullførtOrdre in Model)
        {
            <tr>
                <td style="font-size: 20px; text-align: center;">
                    <a href="@Url.Action("OversiktFullførteOrdreSide", "Ansatt", new { id = fullførtOrdre.ServiceSkjemaId})" class="no-underline">
                        @fullførtOrdre.ServiceSkjemaId
                    </a>
                </td>
                <td style=" font-size: 20px; text-align: center;">
                    <a href="@Url.Action("Edit", "Kunde", new { id = fullførtOrdre.KundeId })" class="no-underline">
                        @fullførtOrdre.KundeId
                    </a>
                </td>
                <td>@fullførtOrdre.MottattDato.ToShortDateString()</td>
                <td>@fullførtOrdre.OrdreNr</td>
                <td>@fullførtOrdre.Servicetype</td>
                <td>@fullførtOrdre.SerieNummer</td>
                <td>@fullførtOrdre.Arbeidstimer</td>
                <td>@fullførtOrdre.FerdigstiltDato.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
