<!-- Nytt Serviceskjema siden der man legger til en ny kunde OG service. -->

@model List<Nsted.Models.ServiceSkjema>

@{
    ViewData["Title"] = "Legg Til Ny Kunde for Service";
}
<!-- Link til stylesheeten siden bruker. -->
<link rel="stylesheet" href="~/css/NyServicestyle.css" />

<h1>Nytt Serviceskjema</h1>

<div class="col-12 mb-3 text-center">
    <!-- Knapp man kan trykke på for å bli dirigert til et nytt serviceskjema form der man har en eksisterende bruker. -->
    <a asp-controller="Ansatt" asp-action="NyService" class="btn btn-outline-secondary">Velg en eksisterende kunde</a>
</div>

 <!-- Formen blir utført av funksjonen "NyKundeOgService" i Ansattkontrolleren. -->
    <form asp-controller="Ansatt" asp-action="NyKundeOgService" method="post">
    <div class="row mb-3">
        <div class="col-12">
            <!-- De forskjellige feltene til skjemaet"-->
            <label class="form-label">Kundeinformasjon:</label>
        </div>
        <div class="col-md-6">
            <!-- Fornavn -->
            <div class="form-floating">
                <input type="text" class="form-control" name="kunde.Fornavn" placeholder="Fornavn" required>
                <label for="fornavn">Fornavn</label>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Etternavn -->
            <div class="form-floating">
                <input type="text" class="form-control" name="kunde.Etternavn" placeholder="Etternavn" required>
                <label for="etternavn">Etternavn</label>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Adresse -->
            <div class="form-floating">
                <input type="text" class="form-control" name="kunde.Adresse" placeholder="Adresse" required>
                <label for="adresse">Adresse</label>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Email -->
            <div class="form-floating">
                <input type="email" class="form-control" name="kunde.Email" placeholder="navn@eksempel.no" required>
                <label for="email">Email addresse</label>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Telefon -->
            <div class="form-floating">
                <input type="number" class="form-control" name="kunde.Telefon" placeholder="Telefon" required>
                <label for="telefonNummer">Telefon</label>
            </div>
        </div>
    </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <!-- Mottatt dato -->
                    <label for="mottattDato" class="form-label">Mottatt dato</label>
                    <input type="date" class="form-control" name="serviceSkjema.MottattDato" required>
                </div>
                <div class="col-md-6">
                    <!-- OrdreNr -->
                    <label for="ordreNr" class="form-label">OrdreNr</label>
                    <input type="number" class="form-control" name="serviceSkjema.OrdreNr" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <!-- Produkt type -->
                    <label for="produktType" class="form-label">Produkt type</label>
                    <input type="text" class="form-control" name="serviceSkjema.ProduktType" placeholder="Produkttype" required>
                </div>
                <div class="col-md-6">
                    <!-- Årsmodell -->
                    <label for="årsModell" class="form-label">Årsmodell</label>
                    <input type="number" class="form-control" name="serviceSkjema.ÅrsModell" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <!-- Servicetype -->
                    <label for="servicetype" class="form-label">Servicetype</label>
                    <input type="text" class="form-control" name="serviceSkjema.Servicetype" required>
                </div>
                <div class="col-md-6">
                    <!-- Serienummer -->
                    <label for="serieNummer" class="form-label">Serienummer</label>
                    <input type="number" class="form-control" name="serviceSkjema.SerieNummer" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <!-- Avtalt med kunden -->
                    <label for="avtaltMedKunden" class="form-label">Avtalt med kunden</label>
                    <input type="text" class="form-control" name="serviceSkjema.AvtaltMedKunden" required>
                </div>
                <div class="col-md-6">
                    <!-- Reparasjonsbeskrivelse -->
                    <label for="reparasjonsbeskrivelse" class="form-label">Reparasjonsbeskrivelse</label>
                    <textarea class="form-control" name="serviceSkjema.Reparasjonsbeskrivelse" placeholder="Reparasjonsbeskrivelse" required></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <!-- Brukte deler -->
                    <label for="brukteDeler" class="form-label">Brukte deler</label>
                    <input type="text" class="form-control" name="serviceSkjema.BrukteDeler" required>
                </div>
                <div class="col-md-6">
                    <!-- Arbeidstimer -->
                    <label for="arbeidstimer" class="form-label">Arbeidstimer</label>
                    <input type="number" class="form-control" name="serviceSkjema.Arbeidstimer" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <!-- Ferdigstilt dato -->
                    <label for="ferdigstiltDato" class="form-label">Ferdigstilt dato</label>
                    <input type="date" class="form-control" name="serviceSkjema.FerdigstiltDato" required>
                </div>
                <div class="col-md-6">
                    <!-- Retur deler -->
                    <label for="returDeler" class="form-label">Retur deler</label>
                    <input type="text" class="form-control" name="serviceSkjema.ReturDeler" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <!-- Forsendelsesmåte -->
                    <label for="forsendelsesMåte" class="form-label">Forsendelsesmåte</label>
                    <input type="text" class="form-control" name="serviceSkjema.ForsendelsesMåte" required>
                </div>
                <div class="col-md-6">
                    <!-- Kunde signatur -->
                    <label for="kundeSignatur" class="form-label">Kunde signatur</label>
                    <input type="text" class="form-control" name="serviceSkjema.KundeSignatur" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <!-- Mekaniker signatur -->
                    <label for="mekanikerSignatur" class="form-label">Mekaniker signatur</label>
                    <input type="text" class="form-control" name="serviceSkjema.MekanikerSignatur" required>
                </div>
            </div>

           <!-- Knapp for å sende inn skjemaet. -->
            <button type="submit" class="btn btn-primary">Send inn</button>
        </form>





