<!-- Nytt Serviceskjema siden der man legger til en ny kunde OG service. -->

@model List<Nsted.Models.ServiceSkjema>

@{
    ViewData["Title"] = "Legg Til Ny Kunde for Service";
}
<head>
<!-- Link til stylesheeten siden bruker. -->
<link rel="stylesheet" href="~/css/NyServicestyle.css" />
</head>
<h1>Nytt Serviceskjema</h1>

<div class="col-12 mb-3 text-center">
    <!-- Knapp man kan trykke på for å bli dirigert til et nytt serviceskjema form der man har en eksisterende bruker. -->
    <a asp-controller="Ansatt" asp-action="NyService" class="btn btn-outline-secondary">Velg en eksisterende kunde</a>
</div>

 <!-- Formen blir utført av funksjonen "NyKundeOgService" i Ansattkontrolleren. -->
<form asp-controller="Ansatt" asp-action="NyKundeOgService" method="post">
    <div class="row mb-3">
        <div class="col-12">
            <!-- De forskjellige feltene til skjemaet"-->
            <label class="form-label">Kundeinformasjon:</label>
        </div>
        <div class="col-md-6">
            <!-- Fornavn -->
            <div class="form-floating">
                <input type="text" class="form-control" name="kunde.Fornavn" placeholder="Fornavn" required>
                <label for="fornavn">Fornavn</label>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Etternavn -->
            <div class="form-floating">
                <input type="text" class="form-control" name="kunde.Etternavn" placeholder="Etternavn" required>
                <label for="etternavn">Etternavn</label>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Adresse -->
            <div class="form-floating">
                <input type="text" class="form-control" name="kunde.Adresse" placeholder="Adresse" required>
                <label for="adresse">Adresse</label>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Email -->
            <div class="form-floating">
                <input type="email" class="form-control" name="kunde.Email" placeholder="navn@eksempel.no" required>
                <label for="email">Email addresse</label>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Telefon -->
            <div class="form-floating">
                <input type="number" class="form-control" name="kunde.Telefon" placeholder="Telefon" required>
                <label for="telefonNummer">Telefon</label>
            </div>
        </div>
    </div>

  <div class="row mb-3">
        <!-- MottattDato -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="date" class="form-control" name="serviceSkjema.MottattDato" placeholder="dd/mm/yyyy" required>
                <label for="mottattDato">Mottatt dato</label>
            </div>
        </div>

        <!-- OrdreNr -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="number" class="form-control" name="serviceSkjema.OrdreNr" placeholder="OrdreNr" required>
                <label for="ordreNr">OrdreNr</label>
            </div>
        </div>

        <div class="col-12">
            <label class="form-label">Service Informasjon:</label>
        </div>
        <!-- ProduktType -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="text" class="form-control" name="serviceSkjema.ProduktType" placeholder="ProduktType" required>
                <label for="produktType">Produkttype</label>
            </div>
        </div>

        <!-- ÅrsModell -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="number" class="form-control"name="serviceSkjema.ÅrsModell" placeholder="Årsmodell" required>
                <label for="aarsModell">Årsmodell</label>
            </div>
        </div>

        <!-- Servicetype -->
        <div class="col-md-6">
            <label for="servicetype" class="form-label">Servicetype?</label>
            <select class="form-select" name="serviceSkjema.Servicetype" aria-label="Servicetype" required>
                <option disabled selected>Velg et alternativ</option>
                <option value="1">Reparasjon</option>
                <option value="2">Garanti</option>
            </select>
        </div>

        <!-- SerieNummer -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="number" class="form-control" name="serviceSkjema.SerieNummer" placeholder="SerieNummer" required>
                <label for="serieNummer">Serienummer</label>
            </div>
        </div>

        <!-- AvtaltMedKunden -->
        <div class="col-md-12">
            <label for="avtaltMedKunden" class="form-label">Hva er avtalt med kunden?:</label>
            <textarea class="form-control" name="serviceSkjema.AvtaltMedKunden" placeholder="Kommentar" required></textarea>
        </div>

        <!-- Reparasjonsbeskrivelse -->
        <div class="col-md-12">
            <label for="reparasjonsbeskrivelse" class="form-label">Reparasjonsbeskrivelse:</label>
            <textarea class="form-control" name="serviceSkjema.Reparasjonsbeskrivelse" placeholder="Kommentar" required></textarea>
        </div>

        <!-- BrukteDeler -->
        <div class="col-md-12">
            <label for="brukteDeler" class="form-label">Brukte deler:</label>
            <textarea class="form-control" name="serviceSkjema.BrukteDeler" placeholder="Kommentar" required></textarea>
        </div>

        <!-- Arbeidstimer -->
        <div class="col-md-6">
            <label for="arbeidstimer" class="form-label">Arbeidstimer:</label>
            <input type="number" class="form-control" name="serviceSkjema.Arbeidstimer" placeholder="arbeidstimer" required>
        </div>

        <!-- FerdigstiltDato -->
        <div class="col-md-6">
            <label for="ferdigstiltDato" class="form-label">Ferdigstilt dato:</label>
            <input type="date" class="form-control" name="serviceSkjema.FerdigstiltDato" placeholder="dd/mm/yyyy" required>
        </div>
        <!-- ReturDeler -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="text" class="form-control" name="serviceSkjema.ReturDeler" placeholder="Utskiftet deler returnert" required>
                <label for="returDeler">Returdeler</label>
            </div>
        </div>

        <!-- ForsendelsesMåte -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="text" class="form-control" name="serviceSkjema.ForsendelsesMåte" placeholder="Forsendelsesmåte" required>
                <label for="forsendelsesMaate">Forsendelsesmåte</label>
            </div>
        </div>

        <!-- KundeSignatur -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="text" class="form-control" name="serviceSkjema.KundeSignatur" placeholder="Kunde signatur" required>
                <label for="kundeSignatur">Kunde signatur</label>
            </div>
        </div>

        <!-- MekanikerSignatur -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="text" class="form-control" name="serviceSkjema.MekanikerSignatur" placeholder="Mekaniker signatur" required>
                <label for="mekanikerSignatur">Mekaniker signatur</label>
            </div>
        </div>
    </div>
    <!-- Knapp for å sende inn skjemaet. -->
    <button type="submit" class="btn btn-primary">Send inn</button>
</form>