<!-- Nytt serviceskjema side for en eksisterende kunde.-->

@model List<Nsted.Models.Registrering>
@{
    <!-- Denne koden henter data fra 'ViewBag.CustomerList' og lagrer dem i variabelen customerList som en liste av Kunde-objekter -->
    var customerList = ViewBag.CustomerList as List<Nsted.Models.Kunde>;
    ViewData["Title"] = "Ny Service";
}
<head>
<!-- Link til stylesheeten og scriptet siden bruker-->
<link rel="stylesheet" href="~/css/NyServicestyle.css" />
<script src="~/js/NyServiceScript.js"></script>
    </head>

<h1>Nytt Serviceskjema</h1>


<div class="container">
    
    <div class="row mb-3">
        <!-- Knapp for å bli dirigert til en annen form der man legger inn både ny kunde og et nytt serviceskjema. -->
        <div class="col-12 mb-3 text-center">
            <a asp-controller="Ansatt" asp-action="NyKundeService" class="btn btn-outline-secondary">Legg til en ny kunde</a>
        </div>


    </div>

    <!-- Funksjon for at man kan kunne velge ut en eksisterende kunde fra systemet og bruke den eksisterende kunde informasjonen. -->
    <div class="col-md-6" id="existingCustomerSection">
        <label for="customerInput" class="form-label">Søk og velg en eksisterende kunde:</label>
        <input class="form-control" list="customers" id="customerInput" placeholder="Skriv for å søke...">
        <datalist id="customers">
            @foreach (var customer in customerList)
            {
                <option data-value="@customer.KundeId" value="@customer.Fornavn @customer.Etternavn"></option>
            }
        </datalist>
    </div>
    <!-- Formen blir utført av funksjonen "CreateServiceSkjema" i Ansattkontrolleren. -->
<form asp-controller="Ansatt" asp-action="CreateServiceSkjema" method="post">
    <!-- Skjult felt for KundeId -->
    <input type="hidden" id="kundeId" name="KundeId">

    <div class="row mb-3">
        <!-- MottattDato -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="date" class="form-control" id="mottattDato" name="MottattDato" placeholder="dd/mm/yyyy" required>
                <label for="mottattDato">Mottatt dato</label>
            </div>
        </div>

        <!-- OrdreNr -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="number" class="form-control" id="ordreNr" name="OrdreNr" placeholder="OrdreNr" required>
                <label for="ordreNr">OrdreNr</label>
            </div>
        </div>

        <div class="col-12">
            <label class="form-label">Service Informasjon:</label>
        </div>
        <!-- ProduktType -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="text" class="form-control" id="produktType" name="ProduktType" placeholder="ProduktType" required>
                <label for="produktType">Produkttype</label>
            </div>
        </div>

        <!-- ÅrsModell -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="number" class="form-control" id="aarsModell" name="ÅrsModell" placeholder="Årsmodell" required>
                <label for="aarsModell">Årsmodell</label>
            </div>
        </div>

        <!-- Servicetype -->
        <div class="col-md-6">
            <label for="servicetype" class="form-label">Servicetype?</label>
            <select class="form-select" id="servicetype" name="Servicetype" aria-label="Servicetype" required>
                <option disabled selected>Velg et alternativ</option>
                <option value="1">Reparasjon</option>
                <option value="2">Garanti</option>
            </select>
        </div>

        <!-- SerieNummer -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="number" class="form-control" id="serieNummer" name="SerieNummer" placeholder="SerieNummer" required>
                <label for="serieNummer">Serienummer</label>
            </div>
        </div>

        <!-- AvtaltMedKunden -->
        <div class="col-md-12">
            <label for="avtaltMedKunden" class="form-label">Hva er avtalt med kunden?:</label>
            <textarea class="form-control" id="avtaltMedKunden" name="AvtaltMedKunden" placeholder="Kommentar" required></textarea>
        </div>

        <!-- Reparasjonsbeskrivelse -->
        <div class="col-md-12">
            <label for="reparasjonsbeskrivelse" class="form-label">Reparasjonsbeskrivelse:</label>
            <textarea class="form-control" id="reparasjonsbeskrivelse" name="Reparasjonsbeskrivelse" placeholder="Kommentar" required></textarea>
        </div>

        <!-- BrukteDeler -->
        <div class="col-md-12">
            <label for="brukteDeler" class="form-label">Brukte deler:</label>
            <textarea class="form-control" id="brukteDeler" name="BrukteDeler" placeholder="Kommentar" required></textarea>
        </div>

        <!-- Arbeidstimer -->
        <div class="col-md-6">
            <label for="arbeidstimer" class="form-label">Arbeidstimer:</label>
            <input type="number" class="form-control" id="arbeidstimer" name="Arbeidstimer" placeholder="arbeidstimer" required>
        </div>

        <!-- FerdigstiltDato -->
        <div class="col-md-6">
            <label for="ferdigstiltDato" class="form-label">Ferdigstilt dato:</label>
            <input type="date" class="form-control" id="ferdigstiltDato" name="FerdigstiltDato" placeholder="dd/mm/yyyy" required>
        </div>
        <!-- ReturDeler -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="text" class="form-control" id="returDeler" name="ReturDeler" placeholder="Utskiftet deler returnert" required>
                <label for="returDeler">Returdeler</label>
            </div>
        </div>

        <!-- ForsendelsesMåte -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="text" class="form-control" id="forsendelsesMaate" name="ForsendelsesMåte" placeholder="Forsendelsesmåte" required>
                <label for="forsendelsesMaate">Forsendelsesmåte</label>
            </div>
        </div>

        <!-- KundeSignatur -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="text" class="form-control" id="kundeSignatur" name="KundeSignatur" placeholder="Kunde signatur" required>
                <label for="kundeSignatur">Kunde signatur</label>
            </div>
        </div>

        <!-- MekanikerSignatur -->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="text" class="form-control" id="mekanikerSignatur" name="MekanikerSignatur" placeholder="Mekaniker signatur" required>
                <label for="mekanikerSignatur">Mekaniker signatur</label>
            </div>
        </div>
    </div>
    <!-- Knapp for å sende inn skjemaet. -->
    <button type="submit" class="btn btn-primary">Send inn</button>
</form>
</div>

<!-- Vi måtte ha scriptet rett i viewen for at det skulle funke -->
<script>
    function updateSelectedCustomer() {
        // Henter referansen til HTML-elementet med id 'customerInput' 
        var customerInput = document.getElementById('customerInput');

        // Finner den valgte kunden i dropdown-menyen med id 'customers' som har verdien som samsvarer med customerInput-verdien
        var selectedOption = document.querySelector(`#customers option[value="${customerInput.value}"]`);

        // Henter referansen til HTML-elementet med id 'kundeId'
        var kundeIdField = document.getElementById('kundeId');

        // Sjekker om det valgte alternativet ble funnet
        if (selectedOption) {
            // Henter verdien av 'data-value' attributtet fra det valgte alternativet
            kundeIdField.value = selectedOption.getAttribute('data-value');
        }
    }
    // Legger til en 'change' hendelseslytter på HTML-elementet med id 'customerInput'

    document.getElementById('customerInput').addEventListener('change', updateSelectedCustomer);



</script>