<!-- Login siden man kommer til når man starter applikasjonen -->

<!-- Link til stylesheetene siden bruker. -->
<link rel="stylesheet" href="~/css/LoggedInAs.css">
<link rel="stylesheet" href="~/css/LoginPage.css">

@model Nsted.Models.UserLoginModel

<div class="overlay-login"></div>

@if (User.Identity.IsAuthenticated)
{
    <!-- Logged-in User Display: Viser en melding og utloggingsknapp når brukeren er logget inn -->
    <div class="logged-in-container">
        <p class="logged-in-message">Du er logget inn som @User.Identity.Name!</p>

        <!-- Logout Form: Sender brukeren til Logout handling i Account controlleren -->
        <form asp-action="Logout" asp-controller="Account" method="post">
            <button type="submit" class="logout-button">Logg ut</button>
        </form>
    </div>
}
else
{
    <!-- Login Container: Inneholder innloggingsformen for brukere som ikke er logget inn -->
    <div class="login-container">
        <h3>Velkommen</h3>
        <h4>Logg på Nosted& AS for å fortsette til den administrative siden.</h4>

        <!-- Login Form: Skjema for innsending av innloggingsdata -->
        <form asp-action="Login" asp-controller="Account" method="post">

            <!-- Email Input Felt: Felt for brukerens e-postadresse -->
            <div class="form-outline mb-2">
                <input asp-for="Email" type="email" class="form-input"
                       placeholder="Oppgi en gyldig e-post adresse" />
            </div>

            <!-- Passord Input Felt: Felt for brukerens passord -->
            <div class="form-outline mb-1">
                <input asp-for="Password" type="password" class="form-input"
                       placeholder="Oppgi passord" />
            </div>

            <!-- Error Melding: Viser feilmeldinger relatert til innlogging -->
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-message">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            }

            <!-- Registrerings Lenke: Lenke til registreringssiden -->
            <div class="text-center mt-2 pt-1">
                <a href="@Url.Action("Register", "Account")" class="additional-link">Registrer deg</a>
            </div>

            <!-- Login Knapp: Knapp for å sende innloggingsskjema -->
            <div class="text-center mt-2 pt-1">
                <button type="submit" class="login-button">
                    Logg inn
                </button>
            </div>
        </form>
    </div>
}
