<link rel="stylesheet" href="~/css/LoggedInAs.css">
<link rel="stylesheet" href="~/css/LoginPage.css">

@model Nsted.Models.UserLoginModel
<div class="overlay-login"></div>
@if (User.Identity.IsAuthenticated)
{
    <div class="logged-in-container">
        <p class="logged-in-message">You are logged in as @User.Identity.Name!</p>
        <form asp-action="Logout" asp-controller="Account" method="post">
            <button type="submit" class="logout-button">Log Out</button>
        </form>
    </div>
}
else
{
    <div class="login-container">
        <h3>Velkommen</h3>
        <h4>Logg på Nosted& AS for å fortsette til den administrative siden.</h4>
        <form asp-action="Login" asp-controller="Account" method="post">
            <!-- Email input -->
            <div class="form-outline mb-2">
                <input asp-for="Email" type="email" class="form-input"
                       placeholder="Oppgi en gyldig e-post adresse" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-1">
                <input asp-for="Password" type="password" class="form-input"
                       placeholder="Oppgi passord" />
            </div>
            <!-- Error Message -->
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-message">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            }
            <!-- Registration Link -->
            <div class="text-center mt-2 pt-1">
                <a href="@Url.Action("Register", "Account")" class="additional-link">Registrer deg</a>
            </div>

            <!-- Login Button -->
            <div class="text-center mt-2 pt-1">
                <button type="submit" class="login-button">
                    Logg inn
                </button>
            </div>
        </form>
    </div>
}
