@model Nsted.Models.Kunde

@{
}
<h2>Legg til kunde</h2>

<form asp-action="Add" method="post">

    <div class="form-group">
        <label>Fornavn:</label>
        <input asp-for="Fornavn" class="form-control" required/>
        <label>Etternavn:</label>
        <input asp-for="Etternavn" class="form-control" required />
        <label>Telefon:</label>
        <input asp-for="Telefon" class="form-control" required />
        <label>Email:</label>
        <input asp-for="Email" class="form-control" required />
        <label>Registrert:</label>
        <input asp-for="Registrert" class="form-control" required />
    </div>

    <div class="form-group">
        <input type="submit" value="Registrer" class="btn btn-primary" />
    </div>
</form>
