@model List<Nsted.Models.Kunde>

<h2>Kundeoversikt</h2>

<table class="table">
    <thead>
        <tr>
            <th>Kundenr</th>
            <th>Fornavn</th>
            <th>Etternavn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Fornavn</td>
                <td>@customer.Etternavn</td>
            </tr>
        }
    </tbody>
</table>
