@{
    ViewData["Title"] = "Arbeidsdokument";
}


<h1 style="color: white; margin-top: 50px;">Arbeidsdokument</h1>
<br />
<p style="color : white;">Dette kommer til å bli Arbeidsdokument siden<br />Hele denne siden må endres</p>


