@{
    ViewData["Title"] = "Arbeidsdokument";
}


<h1 style="color: white; margin-top: 50px;">Arbeidsdokument</h1>
<br />
<p style="color : white;">Dette kommer til å bli Arbeidsdokument siden når vi har fått satt opp en database. <br /> <br /> Her skal vi sette det opp slik at
    Registrerings formen havner her som en liste der man kan se alle detaljene fra hver enkelt ordre. <br />
    Når man får et ordrenummer på det, vil man kunne opprette et serviceskjema direkte fra arbeidsdokumentet som vil havne i "Under behandling"
    siden. <br /> Deretter kan man sette den som fullført når man er ferdig og den vil havne i "Ferdige ordrer"</p>


