@{
    ViewData["Title"] = "Ferdige Ordrer";
    <link rel="stylesheet" href="~/css/FerdigeOrdrer.css" />
    <script src="~/js/site.js"></script>

}



<h2 class="custom-header">Ordreoversikt</h2>

<table class="table">
    <thead>

        <tr>
            <th>Ordrenummer</th>
            <th>Kundenavn</th>
            <th>Produkttype</th>
            <th>Beskrivelse</th>
            <th>Bestillingsdato</th>
            <th>Total kostnad</th>
            <th>Telefon</th>
            <th>E-post</th>
            <th>Status</th>
            <th>Utført av</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>#10001</td>
            <td>Petter Stordalen</td>
            <td>Igland 2501</td>
            <td class="description-cell">
                <button class="overlay-button">Vis detaljer</button>
                <div class="overlay-content" id="overlay-content">

                    <p>Slitasje på bremser og clutch. Bestilt nye og byttet ut de gamle.</p>
                </div>
            </td>
            <td>15.10.2023</td>
            <td>7600.00 Kr</td>
            <td>40654121</td>
            <td>Petter.stordalen@hotmail.com</td>
            <td>Fullført</td>
            <td>Lars Monsen</td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>

</table>