@{
    ViewData["Title"] = "Ferdige Ordrer";
}


<h1 style="color: white; margin-top: 50px;">Ferdige Ordrer</h1>
<br />
<p style="color : white;">Dette kommer til å bli Ferdige Ordrer siden når vi får tilgang til Nøsted sin API<br />Hele denne siden må endres</p>


