@{
    ViewData["Title"] = "Home Page";

    <!-- Linker til stylesheets HomePagen bruker -->
    <link rel="stylesheet" href="~/css/Homestyle.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}
<div class="overlay"></div>

<!-- Teksten som kommer på hjemskjermen -->
<div class="text-center">
    <h1 class="display-1">Alt handler om</h1>
    <h1 class="display-2">koblinger</h1>
    <h1 class="period">.</h1>
    <h2 class="display-3">
        Nøsted & utvikler, designer og produserer <br /> varige produkter og løsninger som sikrer
        <br />mennesker og verdier, og forenkler folks <br />arbeidshverdag.
    </h2>
   <h3 class="display-4">Administrativ side</h3>
</div>
