    @{
        ViewData["Title"] = "Lagerbeholdning";
    }

    <h1 style="color: white; margin-top: 50px;">Lagerbeholdning</h1>
    <br />
    <p style="color : white;">Dette kommer til å bli lagerbeholdning siden når vi får tilgang til Nøsted sin API<br />Hele denne siden må endres</p>
