    @{
        ViewData["Title"] = "Lagerbeholdning";
    }

    <!-- Vi har ventet med å lage noe lagerbeholdning side, da vi trodde vi skulle få en lagerbeholdning API-->

    <h1 style="color: white; margin-top: 50px;">Lagerbeholdning</h1>
    <br />
    <p style="color : white;">Dette kommer til å bli lagerbeholdning siden når vi får tilgang til Nøsted sin API<br /><br />Formålet til denne
    siden er at de som jobber på Nøsted & enkelt skal kunne se hvilke varer de har på lager.</p>
