@{
    ViewData["Title"] = "Ny Service";
}


<h1 style="color: white; margin-top: 50px;">Ny Service</h1>
<br />
<p style="color : white;">Dette kommer til å bli Ny Service siden<br />Hele denne siden må endres</p>


