@{
    ViewData["Title"] = "Registrering";
}


<h1 style="color: white; margin-top: 50px;">Registrering</h1>
<br />

<form method="post" action="/YourController/YourAction">

        <label class="form-control-label" for="bookingTilUke" style="color : white">
            Booket Service Til Uke:
        </label>
        <input class="form-control" id="bookingTilUke" type="number" placeholder="Nummer" aria-label="default input example" max="52">


        <label class="form-control-registrert" for="dateInput" style="color : white">
            Hendvendelse mottat og registrert:
        </label>
        <input type="text" class="form-control" id="dateInput" name="date" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy" required>


        <label class="form-check-label" for="case" style="color : white; margin-top: 5px;">
            Case ferdig?
        </label>
        <select class="form-select" aria-label="Default select example" id="case" required>
            <option disabled selected>Velg et alternativ</option>
            <option value="1">Ja</option>
            <option value="2">Nei</option>
        </select>
        <br />
        <label class="form-control-produkt" for="produktType" style="color : white">
            Produkt type:
        </label>
        <input class="form-control" type="text" placeholder="Kommentar" aria-label="default input example" id="produktType">

    <label class="form-control-produkt" for="feilbeskrivelse" style="color : white">
        Bestilling / Feilbeskrivelse Fra Kunde:
    </label>
    <textarea class="form-control" placeholder="Kommentar" id="feilbeskrivelse" style="height: 100px" required></textarea>

    @* //Disse er ikke ferdige//
    <input class="form-control" type="text" placeholder="Default input" aria-label="default input example" required>

    <input type="text" class="form-control" id="dateInput" name="date" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy" required>

    <input type="text" class="form-control" id="dateInput" name="date" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy" required>

    <input type="text" class="form-control" id="dateInput" name="date" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy" required>

    <input type="text" class="form-control" id="dateInput" name="date" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy" required>

    <input class="form-control" type="number" placeholder="Default input" aria-label="default input example">


    <label class="form-check-label" for="ordrenr" style="color : white">
        Ordrenr?
    </label>
    <br />
    <select class="form-select-ordrenr" aria-label="Default select example" id="ordrenr" required>
        <option disabled selected>Velg et alternativ</option>
        <option value="1">Ja</option>
        <option value="2">Nei</option>
    </select>
    <br />
    <label class="form-check-label" for="skjemajanei" style="color : white">
        Service skjema?
    </label>
    <br />
    <select class="form-select-ordrenr" aria-label="Default select example" id="skjemajanei" required>
        <option disabled selected>Velg et alternativ</option>
        <option value="1">Ja</option>
        <option value="2">Nei</option>
    </select>


    <button type="submit" class="btn btn-primary">Submit</button>

*@

</form>