@{
    ViewData["Title"] = "Under Behandling";
    <link rel="stylesheet" href="~/css/UnderBehandlingstyle.css" />
    <script src="~/js/site.js"></script>

}



<h2 class="custom-header">Ordreoversikt</h2>

<table class="table">
    <thead>

        <tr>
            <th>Ordrenummer</th>
            <th>Kundenavn</th>
            <th>Produkttype</th>
            <th>Beskrivelse</th>
            <th>Bestillingsdato</th>
            <th>Telefon</th>
            <th>E-post</th>
            <th>Status</th>
            <th>Utføres av</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>#10002</td>
            <td>Ola Normann</td>
            <td>Igland 2501</td>
            <td class="description-cell">
                <button class="overlay-button">Vis detaljer</button>
                <div class="overlay-content" id="overlay-content">

                    <p>Slitasje på bremser og clutch. Må bestille nye og bytte ut de gamle</p>
                </div>
            </td>
            <td>17.10.2023</td>
            <td>47233791</td>
            <td>Olanormann@gmail.com</td>
            <td class="orange-background">Under Behandling</td>
            <td>Lars Monsen</td>
            <td class="fullfor-td">
                <button class="fullfor-button" id="fullfor-button">Fullfør ordre</button>
            </td>

        </tr>
        <tr>
            <td>#10003</td>
            <td>Kari Lengredame</td>
            <td>Igland 52</td>
            <td class="description-cell">
                <button class="overlay-button">Vis detaljer</button>
                <div class="overlay-content" id="overlay-content">

                    <p>Fronten er ødelagt, må sannsynligvis skiftes</p>
                </div>
            </td>
            <td>18.10.2023</td>
            <td>97286881</td>
            <td>Karil@hotmail.com</td>
            <td class="orange-background">Under Behandling</td>
            <td>Gaute Gautesen</td>
            <td class="fullfor-td">
                <button class="fullfor-button-two" id="fullfor-button-two">Fullfør ordre</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>

</table>



<script>document.getElementById("fullfor-button").addEventListener("click", function () {
        window.location.href = "/Home/FerdigeOrdrer";
    });

    document.getElementById("fullfor-button-two").addEventListener("click", function () {
        window.location.href = "/Home/FerdigeOrdrer";
    });</script>

