@{
    ViewData["Title"] = "Under Behandling";
}


<h1 style="color: white; margin-top: 50px;">Under Behandling</h1>
<br />
<p style="color : white;">Dette kommer til å bli Under Behandling siden<br />Hele denne siden må endres</p>

